$token: azure-native:managednetworkfabric/v20230201preview:NetworkFabricPropertiesInfrastructureVpnConfiguration
description: Configuration for infrastructure vpn.
properties:
  optionAProperties:
    type: object
    $ref: "#/types/azure-native:managednetworkfabric/v20230201preview:OptionAProperties"
    description: option A properties
  optionBProperties:
    type: object
    $ref: "#/types/azure-native:managednetworkfabric/v20230201preview:FabricOptionBProperties"
    description: option B properties
  peeringOption:
    oneOf:
      - type: string
      - $ref: "#/types/azure-native:managednetworkfabric/v20230201preview:PeeringOption"
    description: Peering option list.
type: object
required:
  - optionBProperties
