$token: azure-native:network:VngClientConnectionConfiguration
description: A vpn client connection configuration for client connection configuration.
properties:
  id:
    type: string
    description: Resource ID.
  name:
    type: string
    description: The name of the resource that is unique within a resource group. This name can be used to access the resource.
  virtualNetworkGatewayPolicyGroups:
    type: array
    items:
      type: object
      $ref: "#/types/azure-native:network:SubResource"
    description: List of references to virtualNetworkGatewayPolicyGroups
  vpnClientAddressPool:
    type: object
    $ref: "#/types/azure-native:network:AddressSpace"
    description: The reference to the address space resource which represents Address space for P2S VpnClient.
type: object
required:
  - virtualNetworkGatewayPolicyGroups
  - vpnClientAddressPool
