$token: azure-native:security:DefenderForServersAwsOfferingConfigurationConfiguration
description: configuration for Microsoft Defender for Server VM scanning
properties:
  cloudRoleArn:
    type: string
    description: The cloud role ARN in AWS for this feature
  exclusionTags:
    type: object
    additionalProperties:
      type: string
    description: VM tags that indicates that VM should not be scanned
  scanningMode:
    oneOf:
      - type: string
      - $ref: "#/types/azure-native:security:ScanningMode"
    description: The scanning mode for the vm scan.
type: object
