$token: azure-native:cognitiveservices:DeploymentPropertiesResponse
description: Properties of Cognitive Services account deployment.
properties:
  callRateLimit:
    type: object
    $ref: "#/types/azure-native:cognitiveservices:CallRateLimitResponse"
    description: The call rate limit Cognitive Services account.
  capabilities:
    type: object
    additionalProperties:
      type: string
    description: The capabilities.
  model:
    type: object
    $ref: "#/types/azure-native:cognitiveservices:DeploymentModelResponse"
    description: Properties of Cognitive Services account deployment model.
  provisioningState:
    type: string
    description: Gets the status of the resource at the time the operation was called.
  raiPolicyName:
    type: string
    description: The name of RAI policy.
  scaleSettings:
    type: object
    $ref: "#/types/azure-native:cognitiveservices:DeploymentScaleSettingsResponse"
    description: Properties of Cognitive Services account deployment model.
type: object
required:
  - callRateLimit
  - capabilities
  - provisioningState
