$token: azure-native:network/v20220901:EffectiveConnectivityConfigurationResponse
description: The network manager effective connectivity configuration
properties:
  appliesToGroups:
    type: array
    items:
      type: object
      $ref: "#/types/azure-native:network/v20220901:ConnectivityGroupItemResponse"
    description: Groups for configuration
  configurationGroups:
    type: array
    items:
      type: object
      $ref: "#/types/azure-native:network/v20220901:ConfigurationGroupResponse"
    description: Effective configuration groups.
  connectivityTopology:
    type: string
    description: Connectivity topology type.
  deleteExistingPeering:
    type: string
    description: Flag if need to remove current existing peerings.
  description:
    type: string
    description: A description of the connectivity configuration.
  hubs:
    type: array
    items:
      type: object
      $ref: "#/types/azure-native:network/v20220901:HubResponse"
    description: List of hubItems
  id:
    type: string
    description: Connectivity configuration ID.
  isGlobal:
    type: string
    description: Flag if global mesh is supported.
  provisioningState:
    type: string
    description: The provisioning state of the connectivity configuration resource.
type: object
required:
  - appliesToGroups
  - connectivityTopology
  - provisioningState
