$token: azure-native:network/v20220901:VngClientConnectionConfigurationResponse
description: A vpn client connection configuration for client connection configuration.
properties:
  etag:
    type: string
    description: A unique read-only string that changes whenever the resource is updated.
  id:
    type: string
    description: Resource ID.
  name:
    type: string
    description: The name of the resource that is unique within a resource group. This name can be used to access the resource.
  provisioningState:
    type: string
    description: The provisioning state of the VngClientConnectionConfiguration resource.
  virtualNetworkGatewayPolicyGroups:
    type: array
    items:
      type: object
      $ref: "#/types/azure-native:network/v20220901:SubResourceResponse"
    description: List of references to virtualNetworkGatewayPolicyGroups
  vpnClientAddressPool:
    type: object
    $ref: "#/types/azure-native:network/v20220901:AddressSpaceResponse"
    description: The reference to the address space resource which represents Address space for P2S VpnClient.
type: object
required:
  - etag
  - provisioningState
  - virtualNetworkGatewayPolicyGroups
  - vpnClientAddressPool
