$token: azure-native:machinelearningservices/v20221201preview:TableSweepSettings
properties:
  earlyTermination:
    oneOf:
      - type: object
        $ref: "#/types/azure-native:machinelearningservices/v20221201preview:BanditPolicy"
      - type: object
        $ref: "#/types/azure-native:machinelearningservices/v20221201preview:MedianStoppingPolicy"
      - type: object
        $ref: "#/types/azure-native:machinelearningservices/v20221201preview:TruncationSelectionPolicy"
    discriminator:
      propertyName: policyType
      mapping:
        Bandit: "#/types/azure-native:machinelearningservices/v20221201preview:BanditPolicy"
        MedianStopping: "#/types/azure-native:machinelearningservices/v20221201preview:MedianStoppingPolicy"
        TruncationSelection: "#/types/azure-native:machinelearningservices/v20221201preview:TruncationSelectionPolicy"
    description: Type of early termination policy for the sweeping job.
  samplingAlgorithm:
    oneOf:
      - type: string
      - $ref: "#/types/azure-native:machinelearningservices/v20221201preview:SamplingAlgorithmType"
    description: "[Required] Type of sampling algorithm."
type: object
required:
  - samplingAlgorithm
