$token: azure-native:workloads:ApplicationServerFullResourceNamesResponse
description: The full resource names object for application layer resources. The number of entries in this list should be equal to the number VMs to be created for application layer.
properties:
  availabilitySetName:
    type: string
    description: The full name for availability set. In case name is not provided, it will be defaulted to {SID}-App-AvSet.
  virtualMachines:
    type: array
    items:
      type: object
      $ref: "#/types/azure-native:workloads:VirtualMachineResourceNamesResponse"
    description: The list of virtual machine naming details.
type: object
