$token: azure-native:appplatform/v20220501preview:getDeploymentLogFileUrl
description: Get deployment log file URL
inputs:
  properties:
    appName:
      type: string
      description: The name of the App resource.
      willReplaceOnChanges: true
    deploymentName:
      type: string
      description: The name of the Deployment resource.
      willReplaceOnChanges: true
    resourceGroupName:
      type: string
      description: The name of the resource group that contains the resource. You can obtain this value from the Azure Resource Manager API or the portal.
      willReplaceOnChanges: true
    serviceName:
      type: string
      description: The name of the Service resource.
      willReplaceOnChanges: true
  type: object
  required:
    - appName
    - deploymentName
    - resourceGroupName
    - serviceName
outputs:
  description: Log file URL payload
  properties:
    url:
      type: string
      description: URL of the log file
  type: object
  required:
    - url
