$token: azure-native:botservice/v20220915:ChannelSettingsResponse
description: Channel settings definition
properties:
  botIconUrl:
    type: string
    description: The bot icon url
  botId:
    type: string
    description: The bot id
  channelDisplayName:
    type: string
    description: The channel display name
  channelId:
    type: string
    description: The channel id
  disableLocalAuth:
    type: boolean
    description: Opt-out of local authentication and ensure only MSI and AAD can be used exclusively for authentication.
  extensionKey1:
    type: string
    description: The extensionKey1
    default: ""
  extensionKey2:
    type: string
    description: The extensionKey2
    default: ""
  isEnabled:
    type: boolean
    description: Whether this channel is enabled for the bot
  requireTermsAgreement:
    type: boolean
    description: Whether customer needs to agree to new terms.
  sites:
    type: array
    items:
      type: object
      $ref: "#/types/azure-native:botservice/v20220915:SiteResponse"
    description: The list of sites
type: object
