$token: azure-native:compute:LoadBalancerConfigurationPropertiesResponse
description: Describes the properties of the load balancer configuration.
properties:
  frontendIpConfigurations:
    type: array
    items:
      type: object
      $ref: "#/types/azure-native:compute:LoadBalancerFrontendIpConfigurationResponse"
    description: Specifies the frontend IP to be used for the load balancer. Only IPv4 frontend IP address is supported. Each load balancer configuration must have exactly one frontend IP configuration.
type: object
required:
  - frontendIpConfigurations
