$token: azure-native:securityinsights/v20230301preview:AutomationRulePropertyArrayValuesConditionResponse
properties:
  arrayConditionType:
    type: string
  arrayType:
    type: string
  itemConditions:
    type: array
    items:
      oneOf:
        - type: object
          $ref: "#/types/azure-native:securityinsights/v20230301preview:BooleanConditionPropertiesResponse"
        - type: object
          $ref: "#/types/azure-native:securityinsights/v20230301preview:PropertyArrayChangedConditionPropertiesResponse"
        - type: object
          $ref: "#/types/azure-native:securityinsights/v20230301preview:PropertyArrayConditionPropertiesResponse"
        - type: object
          $ref: "#/types/azure-native:securityinsights/v20230301preview:PropertyChangedConditionPropertiesResponse"
        - type: object
          $ref: "#/types/azure-native:securityinsights/v20230301preview:PropertyConditionPropertiesResponse"
      discriminator:
        propertyName: conditionType
        mapping:
          Boolean: "#/types/azure-native:securityinsights/v20230301preview:BooleanConditionPropertiesResponse"
          Property: "#/types/azure-native:securityinsights/v20230301preview:PropertyConditionPropertiesResponse"
          PropertyArray: "#/types/azure-native:securityinsights/v20230301preview:PropertyArrayConditionPropertiesResponse"
          PropertyArrayChanged: "#/types/azure-native:securityinsights/v20230301preview:PropertyArrayChangedConditionPropertiesResponse"
          PropertyChanged: "#/types/azure-native:securityinsights/v20230301preview:PropertyChangedConditionPropertiesResponse"
type: object
